body{
    background: url(alone-under-the-tree-sketch-wkvyg9dd5bsn6wwo.webp);
    background-size: 2000% auto;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}
#img1{
    width: 250px;
    height: 380px;
}
